@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/RobotoCondensed/RobotoCondensed-Regular.ttf) format("truetype");
}
@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: bold;
	src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf) format("truetype");
}
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/Cuprum/Cuprum-Regular.ttf) format("truetype");
}
@font-face {
	font-family: 'AA-BebasNeue';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/AA-BebasNeue/AA-BebasNeue.ttf) format("truetype");
}
/*
@font-face {
	font-family: 'RobotoCondensed-BoldItalic';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf) format("truetype");
}
@font-face {
	font-family: 'RobotoCondensed-Italic';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/RobotoCondensed/RobotoCondensed-Italic.ttf) format("truetype");
}
@font-face {
	font-family: 'RobotoCondensed-Light';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/RobotoCondensed/RobotoCondensed-Light.ttf) format("truetype");
}
@font-face {
	font-family: 'RobotoCondensed-LightItalic';
	font-style: normal;
	font-weight: normal;
	src: url(fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf) format("truetype");
}

*/