/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/fixed.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";
/* Fonts */
@import "fonts.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

body {
	background: #244777;
}
#page {
	width: 100%;
	max-width: 100%;
}
a {
	color: #3aa5ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
header#header {
	padding: 0;
	width: 100%;
	background-image: url(../images/header-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 125px;
}
/*header#header:before {
	background: url(../images/full-line.png);
	content: ' ';
	height: 2px;
	width: 100%;
}
header#header:after {
	background: url(../images/full-line.png);
	content: ' ';
	height: 2px;
	width: 100%;
	margin-top: 11px;
	margin-bottom: -1px;
}*/
header#header > .header-content {
	margin: 0 auto;
	width: 955px;
}
header#header * {
	outline: none !important;
}
#logo {
	display: inline-block;
	margin-top: -25px;
}
#header .header__region {
	clear: none;
	margin-left: 225px;
	padding-left: 16px;
	width: 730px;
}
/* Header menu */
#header ul.menu {
	background: url(../images/header-menu-bg.png);
	height: 46px;
	padding: 0;
	width: 705px;
	margin-top: 36px;
	line-height: 38px;
}
#header ul.menu li {
	display: inline-block;
	list-style: none;
	vertical-align: top;
	height: 46px;
}
#header ul.menu li:first-child {
	margin-left: 2px;
}
#header ul.menu li:first-child a {
	padding-left: 20px;
	border-radius: 6px 0 0 4px;
	margin-left: 1px;
}
#header ul.menu li:last-child a {
	border-radius: 0 6px 4px 0;
	padding-right: 22px;
}
#header ul.menu li + li:before {
	content: ' ';
	background: url(../images/header-menu-link-separator.png);
	width: 2px;
	display: inline-block;
	height: 37px;
	vertical-align: top;
	margin-left: -2px;
}
#header ul.menu li a {
	font-family: 'RobotoCondensed';
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	height: 37px;
	padding: 0 9px;
	margin-right: -4px;
	font-size: 100%;
}
#header ul.menu li a:hover {
	background: url(../images/header-menu-link-hover-center.png);
	color: #0ec1ff;
}


#page-content {
  padding: 5px 8px;
  margin: 0;
  width: 100%;
  background: url(../images/bg.png);
  border-radius: 9px;
  margin-top: 5px;
}
#page-content-wrapper {
  padding-left: 150px;
  padding-right: 150px;
}
#content {
	width: 722px;
	float: left;
}
#sidebar {
	float: left;
	width: 220px;
	margin-left: -7px;
}
#sidebar > section.region {
	margin-top: -26px;
}
#content-top {
	width: 722px;
	float: left;
}
#main {
	padding-top: 0;
}
#block-menu-menu-sidebar-menu .menu {
	padding-left: 0;
}
#block-menu-menu-sidebar-menu .menu li {
	list-style: none;
	height: 36px;
}
#block-menu-menu-sidebar-menu .menu li a {
	color: #4f4f4f;
	font-family: 'RobotoCondensed';
	text-decoration: none;
	font-size: 18px;
}
#block-menu-menu-sidebar-menu .menu li a:before {
	content: ' ';
	width: 14px;
	height: 13px;
	background: url(../images/sidebar-link-star.png);
	display: inline-block;
	margin-left: -6px;
	margin-right: 6px;
}
#block-menu-menu-sidebar-menu .menu li a:hover {
	color: #2773b5;
}
#block-menu-menu-sidebar-menu .menu li a:hover:before {
	background-position: 0 -37px;
}
#block-menu-menu-sidebar-menu .menu li:after {
	content: ' ';
	width: 100%;
	background: url(../images/sidebar-link-separator.png);
	height: 2px;
	display: inline-block;
	position: relative;
	top: -10px;
	left: -3px;
}

form.user-login-block label {
	color: #a1a1a1;
	font-family: 'RobotoCondensed';
	font-weight: normal;
	position: relative;
	margin-bottom: -24px;
	bottom: -2px;
	cursor: text;
	padding-left: 19px;
	left: 7px;
	font-size: 13px;
}
form.user-login-block .form-item-pass label {
	padding-left: 17px;
}
form.user-login-block label:before {
	content: ' ';
	background: url(../images/login-form-sprites.png);
}
form.user-login-block .form-required {
	display: none;
}
form.user-login-block .form-text {
	box-shadow: inset 3px 4px 5px rgba(0, 0, 0, .19);
	border: 1px solid #bfbfbf;
	outline: none;
}
form.user-login-block label:before {
	width: 15px;
	height: 16px;
	position: absolute;
	left: 0;
	top: 4px;
	cursor: text;
}
form.user-login-block .form-text {
	width: 87px;
	color: #a1a1a1;
	font-family: 'RobotoCondensed';
	font-weight: normal;
	font-size: 13px;
	padding: 1px 2px;
}
form.user-login-block .form-item-name {
	float: left;
	margin: 0;
}
form.user-login-block .form-item-pass {
	float: left;
	margin: 0;
	margin-left: 11px;
}
form.user-login-block .form-item-pass label:before {
	background-position: 15px 0px;
	height: 17px;
	left: -2px;
	top: 3px;
}
form.user-login-block .form-submit {
	text-indent: -9999px;
	background: url(../images/login-form-submit.png);
	width: 24px;
	height: 23px;
	display: inline-block;
	border: none;
	margin-left: 12px;
	margin-top: 2px;
}
form.user-login-block .links {
	text-align: right;
	position: relative;
	top: -2px;
	right: 3px;
}
form.user-login-block .links a {
	color: #3aa5ff;
	border-bottom: 1px dotted #3aa5ff;
	text-decoration: none;
	font-family: 'RobotoCondensed';
	font-size: 12px;
}
#page form.user-login-block .links a:hover {
	text-decoration: none;
}


/* temporary */
.test-slider {
	width: 722px;
	height: 280px;
	background: url(/slider.png);
	margin-left: -10px;
}


#block-menu-menu-sidebar-menu {
	margin-bottom: -19px;
}
#block-user-login {
	margin-left: -3px;
}

.block .block-title {
	background-image: url(../images/block-header-bg.png);
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'RobotoCondensed'; 
	font-size: 22px;
	font-weight: normal;
	line-height: 40px;
	margin-bottom: -1px;
	padding-left: 8px;
	vertical-align: middle;
}
#poll-view-voting {
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #dddddd;
	width: 218px;
	margin-left: 0px;
}
#block-poll-recent .choices .title {
	color: #3c3c3c;
	font-family: 'RobotoCondensed'; 
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	padding: 4px 15px;
}

#poll-view-voting .form-item .form-radio {
    display:none;            
}
#poll-view-voting .form-item .form-radio + label {
	color: #232323;
	font-family: 'RobotoCondensed'; 
	font-size: 15px;
	font-weight: bold;
	line-height: 29px;
}
.form-radios {
	padding: 0px 0px 0px 34px;
}
.form-item {
	margin: 0px;
}
#poll-view-voting .form-radio + label::before {
	content: " ";
    background-image: url(../images/poll-radio.png);
    display: inline-block;
    height: 15px;
    margin: 0 7px 0 0;
    vertical-align: middle;
    width: 15px;
}
#poll-view-voting .form-radio:checked + label:before {
	background-position: 15px;
}
#poll-view-voting .form-submit {
	background: #54c263;
	border: none;
	color: #ffffff;
	font-family: 'RobotoCondensed';
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 12px;
	padding: 7px 37px;
	text-transform: uppercase;
}
footer#footer {
	background-image: url(../images/footer-bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 125px;
	margin-top: 10px;
	padding: 0;
	width: 100%;
}
.footer-logo-image {
	background-image: url(../images/tradeexpert-footer-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 70px;
	margin-left: 173px;
	margin-top: 34px;
	width: 205px;
}
#block-block-1 {
	display: inline-block;
}
#block-block-2 {
	color: #ffffff;
	display: inline-block;
	font-family: 'Cuprum';
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	margin-left: 27px;
	margin-top: -9px;
	vertical-align: middle;
}
#block-block-2 a {
	color: #ffffff;
}
.brokers {
	padding-top: 12px;
	background: #fff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #dddddd;
}
.brokers .broker-item {
	height: 40px;
	margin: 0 auto;
	overflow: hidden;
	width: 200px;
}
.brokers .broker-item .icon {
	float: left;
	margin-left: 14px;
}
.brokers .broker-item .link {
	float: right;
	width: 133px;
}
.brokers .broker-item .link a {
	color: #3c3c3c;
	font-family: 'RobotoCondensed';
	font-size: 16px;
}
#main .node .node-title a{
	color: #ffffff;
	font-family: 'RobotoCondensed';
	font-size: 18px;
	margin-left: 12px;
	vertical-align: top;
}
.front #main .node header{
	background-color: #063560;
	background-image: url(../images/news_header.png);
	background-position: left;
	background-repeat: no-repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 48px;
}
.front article.node {
	margin-bottom: 20px;
	width: 96.7%;
}
.front article.node .field-name-body {
	background: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid #dddddd;
}
.field-item {
	color: #585252;
	font-family: 'RobotoCondensed';
	font-size: 14px;
	line-height: 18px;
	padding: 0px 10px;
}
.field-item p {
	margin-top: 17px;
}
.region-content-bottom {
	clear: both;
	overflow: hidden;
	padding: 5px 13px;
	text-align: center;
}
.block-tradexperts-categories {
	background-color: #ffffff;
	display: inline-block;
	margin-bottom: 7px;
	text-align: left;
	width: 300px;
}
.block-tradexperts-categories .block-title {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: 'RobotoCondensed';
	font-size: 20px;
	font-weight: bold;
	height: 45px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
}
.block-tradexperts-categories .image-categories img {
	vertical-align: middle;
}
#block-tradexperts-categories-tradexperts-cate-investment {
	float: left;
}
#block-tradexperts-categories-tradexperts-training {
	margin: 0 auto;
}
#block-tradexperts-categories-tradexperts-pamm-accounts {
	float: right;
}
#block-tradexperts-categories-tradexperts-cate-investment .block-title {
	background-image: url(../images/category-investmrnt.png);
}
#block-tradexperts-categories-tradexperts-training .block-title {
	background-image: url(../images/training-category.png);
}
#block-tradexperts-categories-tradexperts-pamm-accounts .block-title {
	background-image: url(../images/Pamm_account-category.png);
}
.block-tradexperts-categories .categories-news-title {
	color: #5db0fd;
	display: inline-block;
	font-family: 'RobotoCondensed';
	font-size: 14px;
	margin-left: -2px;
}
.block-tradexperts-categories .categories-news-title a {
	border-bottom: 1px dotted #5db0fd;
	text-decoration: none;
}
.block-tradexperts-categories .categories-news-picture {
	display: inline-block;
	margin: 4px 5px 5px 5px;
}
.block-tradexperts-categories .image-categories {
	margin: 0px 5px;
}
.categories-body-content {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #cdcdcd;
}
.top-button {
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	background-color: #000;
	bottom: 50px;
	color: #fff;
	cursor: pointer;
	display: none; 
	font-family: Arial,"MS Trebuchet",sans-serif;
	font-size: 12pt;
	font-size: 18px;
	height: 25px;
	line-height: 25px;
	margin-left: -80px;
	margin-top: -40px;
	opacity: .8;
	padding: 5px;
	position: fixed;
	right: 10px;
	text-align: center;
	width: 100px;
	z-index: 100;
}